<?xml version="1.0" encoding="iso-8859-1"?>

<!-- Config file for the game -->
<config>

  <app>

  </app>

  <input>
    <num_keys value="352"/>
    <num_mouse_buttons value="5"/>
    <last_keys_pressed_buffer value="50"/>
    <controls>
      <grab_big value=""/>
      <whip_small value=""/>
    </controls>
  </input>

  <window>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
    <width value="1024"/>
    <height value="768"/>
    <scale value="1"/>
    <name value="Game Dev 1 Config"/>
    <res_scale value="2"/>
  </window>

  <renderer>
    <camera x="0" y="0"/>
    <cam_settings min_sep="100" max_sep="700" scaling_step="2" />
  </renderer>

  <textures>

  </textures>

  <audio>
    <master_volume value="64"/>"
    <music_volume value="1"/>
    <fx_volume value="1"/>
    <fade_time value="2"/>
    <repeat value="0"/>
  </audio>

  <player>
    <physics>
      <max_speed value= "300"/>
      <initial_force value= ""/>
      <jumpsquat value= ""/>
      <jump_force value= "-250"/>
      <friction value= ""/>
      <air_restriction value= ""/>

      <slide_force value= ""/>
      <grab_velocity value= ""/>
      <slam_velocity value= ""/>
      <anchor_time value= ""/>
    </physics>
  </player>

  <scenes>
      <map source="TMX tests/Trial.tmx" draw="false"/>
  </scenes>
  
  <physics>
    <gravity x= "0" y="14"/>
    <wind_force value="-1.4"/>
    <test_platform w="800" h="200"/>
    <set_airmovement mode="1"/>
  </physics>

</config>