<?xml version="1.0" encoding="iso-8859-1"?>

<!-- Config file for the game -->
<config>

  <app>

  </app>

  <input>
    <num_keys value="352"/>
    <num_mouse_buttons value="5"/>
    <last_keys_pressed_buffer value="50"/>
    <controls>
      <grab_big value=""/>
      <whip_small value=""/>
    </controls>
  </input>

  <window>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
    <width value="1024"/>
    <height value="768"/>
    <scale value="1"/>
    <name value="Game Dev 1 Config"/>
    <res_scale value="2"/>
  </window>

  <renderer>
    <camera x="660" y="1604"/>
    <cam_settings min_sep="200" max_sep="1000" scaling_step="2" />
  </renderer>

  <textures>

  </textures>

  <audio>
    <master_volume value="64"/>"
    <music_volume value="1"/>
    <fx_volume value="1"/>
    <fade_time value="2"/>
    <repeat value="0"/>
  </audio>

  <player>
    <properties max_hap="10" min_sep="500" >
      <char name="Borat">
        <position x="660" y="2804"/>
        <coll_size w="30" h="50"/>
        <render_scale value="0.75"/>
        <max_speed value= "300"/>
        <initial_force value= ""/>
        <jumpsquat value= "3"/>
        <jump_force value= "-250"/>
        <friction value= ""/>
        <air_restriction value= ""/>

        <slide_force value= "true"/>
        <grab_velocity value= ""/>
        <slam_velocity value= ""/>
        <anchor_time value= ""/>
      </char>
     <char name="Menat">
       <position x="644" y="2604"/>
        <coll_size w="30" h="50"/>
       
        <max_speed value= "300"/>
        <initial_force value= ""/>
        <jumpsquat value= ""/>
        <jump_force value= "-450"/>
        <friction value= ""/>
        <air_restriction value= ""/>

        <slide_force value= "false"/>
        <grab_velocity value= ""/>
        <slam_velocity value= ""/>
        <anchor_time value= ""/>
      </char>
    </properties>
  <sprites route="sprites.xml"/>
  </player>

  <scenes>
      <map source="TMX tests/Full_level.tmx" draw="true"/>
  </scenes>

  <map>
    <scale value="2"/>
  </map>
  <physics>
    <gravity x= "0" y="14"/>
    <wind_force value="-1.4"/>
    <test_platform w="800" h="200"/>
    <set_airmovement mode="1"/>
  </physics>

</config>